.container {
       height: 100vh;
       width: 100%;
       display: flex;
       font-family: "Roboto", sans-serif;

       .leftPanel {
              flex: 0 0 25%;
              border-right: 1px solid #ddd;
              display: flex;
              flex-direction: column;
              background-color: #f0f4ff; // sol panel arka plan

              .tabCard {
                     height: 100%;
                     display: flex;
                     flex-direction: column;
                     border-radius: 0;

                     .tabs {
                            border-bottom: 2px solid #3f51b5;

                            .MuiTab-root {
                                   min-height: 40px;
                                   font-size: 0.85rem;
                                   color: #3f51b5;

                                   &:hover {
                                          color: #ff4081;
                                   }

                                   &.Mui-selected {
                                          color: #ff4081;
                                          font-weight: bold;
                                   }
                            }
                     }

                     .tabContent {
                            flex-grow: 1;
                            overflow: auto;
                            padding: 8px;

                            .MuiTable-root {
                                   background-color: #ffffff;
                                   border-radius: 8px;
                                   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
                            }
                     }
              }
       }

       .rightPanel {
              flex: 1;
              display: flex;
              flex-direction: column;
              background-color: #fff;

              .rightCard {
                     height: 100%;
                     display: flex;
                     flex-direction: column;

                     .cardHeader {
                            border-bottom: 2px solid #3f51b5;
                            background-color: #f5f7ff;
                     }

                     .titleBox {
                            border-bottom: 1px solid #ddd;
                            padding: 8px;

                            .MuiInputBase-root {
                                   background-color: #fdfdfd;
                                   border-radius: 4px;
                            }
                     }

                     .mainContent {
                            flex-grow: 1;
                            padding: 8px;
                            overflow: auto;

                            .MuiInputBase-root {
                                   background-color: #fefefe;
                                   border-radius: 4px;
                            }
                     }

                     .subtitleTable {
                            border-top: 1px solid #ddd;
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;
                            overflow: hidden;

                            .tableHeader {
                                   display: flex;
                                   justify-content: space-between;
                                   align-items: center;
                                   width: 100%;
                                   padding: 8px;
                                   background-color: #e8f0fe;
                                   border-bottom: 1px solid #ddd;

                                   .MuiButton-root {
                                          background-color: #3f51b5;
                                          color: white;

                                          &:hover {
                                                 background-color: #ff4081;
                                          }
                                   }
                            }

                            .tableWrapper {
                                   flex-grow: 1;
                                   overflow: auto;
                                   width: 100%;

                                   .MuiTable-root {
                                          background-color: #fdfdfd;
                                          border-radius: 8px;

                                          .MuiTableCell-root {
                                                 padding: 8px;
                                          }
                                   }
                            }
                     }
              }
       }
}

.datePicker {
       width: 100%;

       input {
              width: 92%;
              min-width: 180px;
              height: 1px;
              padding: 18px 14px;
              border: 1px solid #ccc;
              border-radius: 4px;
              font-size: 1rem;
              transition: border-color 0.3s, box-shadow 0.3s;
              // margin-bottom: 20px;
              background-color: #fff;
              color: black;

              &:focus {
                     border-color: #007bff;
                     box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
                     outline: none;
              }

              &::placeholder {
                     color: #aaa;
              }
       }

       button {
              height: 90%;
       }

       @media (max-width: 768px) {
              input {
                     padding: 14px 12px;
                     font-size: 0.95rem;
              }
       }

       @media (max-width: 480px) {
              input {
                     width: 294px;
              }
       }


}

.customPanel {
       padding: 9px !important;
}

.dragHandle {
       cursor: grab;
       color: #1876d2 !important;
       font-weight: 700 !important;
}

// .centerStreamBtn {
//        flex: 1;
//        background-color: #fff !important;
//        color: black !important;
//        font-weight: 700 !important;
//        text-transform: none;
//        border-radius: 16px !important;
//        padding: 8px;
//        font-size: 16px;
//        transition: background-color 0.4s ease, color 0.4s ease, font-size 0.4s ease, box-shadow 0.4s ease;

//        .iconWrapper {
//               background-color: #f5f7fe;
//               border-radius: 50%;
//               padding: 14px;
//               display: flex;
//               align-items: center;
//               justify-content: center;
//               transition: all 0.4s ease;

//               svg {
//                      color: #3e0bff;
//                      transition: color 0.4s ease;
//                      padding-right: 4px;
//                      font-weight: 700;
//               }
//        }

//        &:hover {
//               background-color: #ffa000;
//               color: #fff;
//               box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);

//               .iconWrapper {
//                      background-color: rgba(255, 255, 255, 0);
//                      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//                      transform: scale(0.9);
//               }
//        }
// }

// .centerStreamBtn {
//   flex: 1;
//   background: linear-gradient(135deg, #1a001a, #330033); // koyu tonlu gradient
//   color: #fff !important;
//   font-weight: 700 !important;
//   text-transform: none;
//   border-radius: 16px !important;
//   padding: 8px;
//   font-size: 16px;
//   transition: all 0.4s ease;

//   .iconWrapper {
//     background-color: #2a002a; // icon arka planını da uyumlu koyu ton yapıyoruz
//     border-radius: 50%;
//     padding: 14px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: all 0.4s ease;

//     svg {
//       color: #fff;
//       transition: color 0.4s ease;
//       padding-right: 4px;
//       font-weight: 700;
//     }
//   }

//   &:hover {
//     background: linear-gradient(135deg, #330033, #1a001a); // hover’da gradient ters yönde koyulaşıyor
//     color: #fff;
//     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);

//     .iconWrapper {
//       background-color: rgba(255, 255, 255, 0.1);
//       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//       transform: scale(0.9);
//     }
//   }
// }

// .centerStreamBtn {
//   flex: 1;
//   background: linear-gradient(135deg, #3c3c3c, #1f1f1f); // koyu tonlarda gradient
//   color: #fff !important;
//   font-weight: 700 !important;
//   text-transform: none;
//   border-radius: 16px !important;
//   padding: 8px;
//   font-size: 16px;
//   transition: all 0.4s ease;

//   .iconWrapper {
//     background-color: #2a2a2a; // icon arka planını da uyumlu koyu ton yapıyoruz
//     border-radius: 50%;
//     padding: 14px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: all 0.4s ease;

//     svg {
//       color: #fff;
//       transition: color 0.4s ease;
//       padding-right: 4px;
//       font-weight: 700;
//     }
//   }

//   &:hover {
//     background: linear-gradient(135deg, #1f1f1f, #3c3c3c); // hover’da gradient ters yönde
//     color: #fff;
//     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);

//     .iconWrapper {
//       background-color: rgba(255, 255, 255, 0.05);
//       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//       transform: scale(0.9);
//     }
//   }
// }
.centerStreamBtn {
       flex: 1;
       //   background: linear-gradient(135deg, #3c3c3c, #5a5a5a); 
       // background: linear-gradient(135deg, #2c2c2c, #6d6d6d);
       // background: linear-gradient(135deg, #1f1f1f, #4a4a4a, #7a7a7a);

       background: linear-gradient(135deg, #0f0f0f, #5e5e5e);



       color: #fff !important;
       font-weight: 700 !important;
       text-transform: none;
       border-radius: 16px !important;
       padding: 8px;
       font-size: 16px;
       transition: all 0.4s ease;

       .iconWrapper {
              background-color: #4a4a4a;
              border-radius: 50%;
              padding: 14px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.4s ease;

              svg {
                     color: #fff;
                     transition: color 0.4s ease;
                     padding-right: 4px;
                     font-weight: 700;
              }
       }

       &:hover {
              background: linear-gradient(135deg, #0f0f0f, #5e5e5e);
              color: #fff;
              box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);

              .iconWrapper {
                     background-color: rgba(255, 255, 255, 0.1);
                     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                     transform: scale(0.9);
              }
       }
}

// .customTabs {
//   border-radius: 12px;
//   background: #e0e0e0;
//   padding: 4px;

//   .MuiTabs-flexContainer {
//     gap: 6px;
//   }

//   .MuiTab-root {
//     text-transform: none;
//     min-height: 40px;
//     height: 40px;
//     padding: 0 18px;
//     border-radius: 10px;
//     transition: all 0.3s ease;
//     font-weight: 500;
//     color: #fff !important;
//     background: linear-gradient(135deg, #9e9e9e, #bdbdbd); 
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     &:hover {
//       background: linear-gradient(135deg, #bdbdbd, #e0e0e0);
//       color: #fff;
//       transform: translateY(-2px);
//       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
//     }

//     &.Mui-selected {
//       background: linear-gradient(135deg, #ffa000, #ffc107);
//       color: #fff;
//       font-weight: 700;
//       box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
//       border: unset;
//     }

//     // focus veya keyboard seçildiğinde çıkan outline/border'ı kaldır
//     &:focus {
//       outline: none !important;
//       box-shadow: none !important;
//     }
//     &:focus-visible{
//          outline: none !important;
//       box-shadow: none !important;
//     }

//     // extra: MUI bazen ::before kullanıyor, onu da kapat
//     &::before {
//       content: none !important;
//     }

//     .MuiTab-iconWrapper {
//       margin-right: 8px;
//       display: flex;
//       align-items: center;

//       svg {
//         color: #ffffff;
//         transition: transform 0.3s ease;
//       }
//     }
//   }
// }
button:focus,
button:focus-visible {
       outline: none !important;
       box-shadow: none !important;
}

.customTabs {
       border-radius: 12px;
       background: #3c3c3c;
       padding: 4px;

       .MuiTabs-flexContainer {
              gap: 6px;
       }

       .MuiTab-root {
              text-transform: none;
              min-height: 40px;
              height: 40px;
              padding: 0 18px;
              border-radius: 10px;
              transition: all 0.3s ease;
              font-weight: 500;
              color: #fff !important;
              background: linear-gradient(135deg, #505050, #6b6b6b);
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                     background: linear-gradient(135deg, #606060, #7a7a7a);
                     color: #fff;
                     transform: translateY(-2px);
                     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
              }

              &:focus,
              &:focus-visible {
                     outline: none !important;
                     box-shadow: none !important;
              }

              &::before {
                     content: none !important;
              }

              .MuiTab-iconWrapper {
                     margin-right: 8px;
                     display: flex;
                     align-items: center;

                     svg {
                            color: #ffffff;
                            transition: transform 0.3s ease;
                     }
              }
       }
}